body, html {
    height: 100%;
    margin: 0px;
    background-color: #222222;
}
hr {
    position: absolute;
    left: 0;
    right: 0;
    border: none;
    height: 1px;
    background-color: black;
}
.horizontal-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ubuntu-condensed-regular {
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.image-center {
    display: flex;
    align-items: center;
    height: 100%;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
    float: left;
}
.right {
    text-align: right;
    float: right;
}

#description {
    color: #fff;
}
#github {
    width: 3em;
    height: 3em;
}

#r {
   width: 6em;
   height: 6em;
}

.media-div {
    display: flex;
    justify-content: center;
}

.media {
    filter: drop-shadow(0 0 1.5rem rgba(220, 20, 60, 0.5));
    border-radius: 2em;
    position: absolute;
    width: 100%;
    height: 100%;
}

.media-transition {
    transition: transform 1s;
}

.media-animation-right {
    transform: translateX(110%);
}
.media-animation-left {
    transform: translateX(-110%);
}
.carousel-1 {
    width: 60em;
    height: 35em;
    transform: translateY(0%);
}

.scroll-button {
    display: flex;
    position: absolute;
    top: 50%;
    background-color: #333;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 100%;
}

.white {
    color: white;
}
.scroll-button-left {
    transform: translate(-10%, -50%);
    left: 0;
}

.scroll-button-right {
    transform: translate(10%, -50%);
    right: 0;
}

.logo-div {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
#logo {
    font-weight: 900;
    color: white;
    text-align: center;

}



.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100%;
    
}
.flexbox1 {
    order: 1;
    width: 33%;
    height: 100%;
}
.flexbox3 {
    order: 3;
    width: 33%;
    height: 100%;
}
.flexbox2 {
    order: 2;
    width: 66%;
    height: 100%;
}
.flexbox1, .flexbox3, .navbar, .flexbox2 {
    background-color: #222222;
}

@keyframes cursor-blink {
    0% {
      opacity: 0;
    }
}

#logo::after {
    content: "_";
    animation: cursor-blink 1.5s steps(2) infinite;
}

.navbar {
    overflow: hidden;
    position: sticky; 
    top: 0;
    right: 0;
    width: 100%; 

    height: 6em;
}

.box-shadow {
    transition: box-shadow 0.3s ease-in-out;
}
.box-shadow.scrolled {
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.2);
}